@if (usersFetched) {
  <app-user-table [users]="activatedUsers!" (refresh)="getUsers()"></app-user-table>

  <h2>Activar/desactivar usuarios</h2>

<!--  <div class="flex flex-row gap-3">-->
<!--    <div>-->
<!--      <h2>Activados</h2>-->
<!--      <ul-->
<!--        cdkDropList-->
<!--        id="{{activatedUsersId}}"-->
<!--        #activatedList="cdkDropList"-->
<!--        [cdkDropListData]="activatedUsers!"-->
<!--        [cdkDropListConnectedTo]="[nonActivatedList]"-->
<!--        class="max-w-md divide-y w-full h-64 divide-gray-200 dark:divide-gray-700 bg-amber-600 min-h-2 min-w-2"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        @if (activatedUsers!.length > 0) {-->
<!--          @for (user of activatedUsers!; track user) {-->
<!--            <li class="cursor-pointer" cdkDrag [cdkDragData]="user">-->
<!--              <div class="flex items-center space-x-4 rtl:space-x-reverse">-->
<!--                <div class="flex-shrink-0">-->
<!--                  <img class="w-8 h-8 rounded-full" src="{{user.picUrl}}" alt="Neil image">-->
<!--                </div>-->
<!--                <div class="flex-1 min-w-0">-->
<!--                  <p>{{user.email}}</p>-->
<!--                </div>-->
<!--                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">-->
<!--                  {{user.createdAt | date}}-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--          }-->
<!--        } @else {-->
<!--          <div class="flex items-center justify-center w-full">-->
<!--            <label class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">-->
<!--              <div class="flex flex-col items-center justify-center pt-5 pb-6">-->
<!--                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">No hay usuarios activados</p>-->
<!--              </div>-->
<!--            </label>-->
<!--          </div>-->
<!--        }-->
<!--      </ul>-->
<!--    </div>-->

<!--    <div>-->
<!--      <h2>Desactivados</h2>-->
<!--      <ul-->
<!--        cdkDropList-->
<!--        id="{{nonActivatedUsersId}}"-->
<!--        #nonActivatedList="cdkDropList"-->
<!--        [cdkDropListData]="nonActivatedUsers!"-->
<!--        [cdkDropListConnectedTo]="[activatedList]"-->
<!--        class="max-w-md divide-y w-full h-64 divide-gray-200 dark:divide-gray-700"-->
<!--        (cdkDropListDropped)="drop($event)">-->
<!--        @if (nonActivatedUsers!.length > 0) {-->
<!--          @for (user of nonActivatedUsers!; track user) {-->
<!--            <li class="cursor-pointer" cdkDrag [cdkDragData]="user">-->
<!--              <div class="flex items-center space-x-4 rtl:space-x-reverse">-->
<!--                <div class="flex-shrink-0">-->
<!--                  <img class="w-8 h-8 rounded-full" src="{{user.picUrl}}" alt="Neil image">-->
<!--                </div>-->
<!--                <div class="flex-1 min-w-0">-->
<!--                  <p>{{user.email}}</p>-->
<!--                </div>-->
<!--                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">-->
<!--                  {{user.createdAt | date}}-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--          }-->
<!--        } @else {-->
<!--          <div class="flex items-center justify-center w-full">-->
<!--            <label class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">-->
<!--              <div class="flex flex-col items-center justify-center pt-5 pb-6">-->
<!--                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">No hay usuarios desactivados</p>-->
<!--              </div>-->
<!--            </label>-->
<!--          </div>-->
<!--        }-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
}


