<div class="flex flex-row gap-5 w-full justify-center">
  <form #form="ngForm" [formGroup]="userForm" (submit)="createUser($event)" class="max-w-md flex flex-col gap-2">
    <div class="flex flex-row gap-2">
      <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input type="text" formControlName="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
      </div>
      <div class="mb-5">
        <label for="firstLastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primer apellido</label>
        <input type="text" formControlName="firstLastname"  id="firstLastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        <span class="text-red-400" *ngIf="!this.userForm.get('firstLastname')?.valid && form.submitted">Campo no valido</span>
      </div>
      <div class="mb-5">
        <label for="secondLastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Segundo apellido</label>
        <input type="text" formControlName="secondLastname"  id="secondLastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        <span class="text-red-400" *ngIf="!this.userForm.get('secondLastname')?.valid && form.submitted">Campo no valido</span>
      </div>
    </div>
    <div class="mb-5">
      <label for="firstLastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de usuario</label>
      <input type="text" formControlName="nickname"  id="nickname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
      <span class="text-red-400" *ngIf="!this.userForm.get('nickname')?.valid && form.submitted">Campo no valido</span>
    </div>
    <div>
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <input type="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        <span class="text-red-400" *ngIf="!this.userForm.get('email')?.valid && form.submitted">Campo no valido</span>
      </div>
    </div>
    <div formGroupName="passwords">
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
        <input type="password" id="password" formControlName="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        <span class="text-red-400" *ngIf="!this.userForm.get('passwords')!.get('password')?.valid && form.submitted">Campo no valido</span>
      </div>
      <div class="mb-5">
        <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar contraseña</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        <span class="text-red-400" *ngIf="!this.userForm.get('passwords')!.get('confirmPassword')?.valid && form.submitted">Campo no valido</span>
      </div>
    </div>
    <div class="flex flex-row gap-3">
      <div>
        <div>
          <form class="max-w-sm mx-auto">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rol</label>
            <select formControlName="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option selected>Selecciona un rol</option>
              @for (role of roles; track role.id) {
                <option value="{{role.id}}">{{role.display_name}}</option>
              }
            </select>
          </form>
        </div>
        <span class="text-red-400" *ngIf="!this.userForm.get('role')!.valid && form.submitted">Campo no valido</span>
      </div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Crear
      </button>
    </div>
  </form>
</div>

<app-custom-toast></app-custom-toast>
