<form #form=ngForm (submit)="submitStartPreferences()" class="flex flex-col gap-5" [formGroup]="startForm">
  <h1>Selecciona las preferencias según tus gustos</h1>
  <div>
    <div class="flex flex-row gap-4">
    @for (preference of choices.controls; track $index) {
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{preference.get('name')?.value | titlecase}}</label>
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{preference.get('description')?.value}}</p>
        <select (change)="setChoice($event, $index)" [formControlName]="$index" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Selecciona una opción</option>
          @for ((option of preference.get('options')?.value?? []); track $index) { // Con '??' conseguimos inicializar un valor (el array) como valor por defecto, haciendo que sea de tipo array. Esto evita errores con Any.
            <option value="{{option.option_value}}">{{option.option_name}}</option>
          }
        </select>
        <span class="text-red-400" *ngIf="!this.startForm.valid && form.submitted">Campo no valido</span>
      </div>
    }
    </div>
  </div>

  <div>
    <div class="flex flex-row gap-4">
      @for (preference of ranges.controls; track $index) {
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{preference.get('name')?.value | titlecase}}</label>
          <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{preference.get('description')?.value}}</p>
          <input type="range" [formControlName]="$index" (change)="setRange($event, $index)" value="{{preference.get('min_value')?.value}}" min="{{preference.get('min_value')?.value}}" max="{{preference.get('max_value')?.value}}" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
          <span class="text-red-400" *ngIf="!this.preference.get('rangeValue')!.valid && form.submitted">Campo no valido</span>
        </div>
      }
    </div>
  </div>

  <span class="text-red-400" *ngIf="!this.startForm.valid && form.submitted">Formulario no valido</span>

  <div>
    <button type="submit" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      ¡Empezar ya!
    </button>
  </div>
</form>

<app-custom-toast></app-custom-toast>



