<section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <h1 class="text-4xl font-black text-gray-900 dark:text-white mb-4">Informacion de evento</h1>

  <div class="flex flex-row gap-3 items-center">
    <h3 class="text-2xl font-bold text-gray-900 dark:text-white">{{event?.name}}</h3>
    @if (!isSubscribed) {
      <i class="fa-regular fa-circle fa-xl"></i>
    } @else {
      <i class="fa-regular fa-circle-check text-green-400 fa-xl"></i>
    }
  </div>
  <p class="text-l font-medium text-gray-900 dark:text-white">{{event?.description}}</p>

  @if (Date.parse(event?.closeDateTime!) < Date.now()) {
    <button type="button" disabled class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 cursor-not-allowed focus:outline-none bg-white rounded-lg border border-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600">
      <i class="fa-solid fa-ban"></i>
    </button>
  } @else if (!isSubscribed) {
    <button (click)="joinEvent()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <i class="fa-solid fa-xl fa-person-circle-plus"></i>
    </button>
  } @else if (isSubscribed) {
    <button (click)="withdrawFromEvent()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">
      <i class="fa-solid fa-person-circle-xmark fa-xl"></i>
    </button>
  }
</section>

<app-toast></app-toast>
