<div>
  <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    @for (role of roles!; track role.id) {
      <li>
        <button [disabled]="role.name === 'admin' && adminCount === 1 && this.rolesSelected.has(this.adminRole?.id!)" class="w-full border-b cursor-pointer border-gray-200 rounded-t-lg dark:border-gray-600 hover:bg-gray-600" (click)="addRole(role)">
          <div class="flex items-center ps-3">
            <input [checked]="rolesSelected.has(role.id!)" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{role.display_name}}</label>
          </div>
        </button>
      </li>
    }
  </ul>
</div>
