<section class="mx-6">
  @if (eventsFetched) {
    <div class="flex justify-center">
      <div class="grid grid-cols-4 grid-rows-4 gap-3">
        @for (event of events; track event.id) {
          <app-event-card [event]="event!"/>
        }
      </div>
    </div>
  }
  <button data-modal-target="create-event-modal" data-modal-toggle="create-event-modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Crear evento
    <i class="fa-solid fa-plus"></i>
  </button>
</section>


<!-- Main modal -->
<div id="create-event-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800 p-3">
      <app-create-event></app-create-event>
    </div>
  </div>
</div>
